<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>services</key>
    <dict>
      <key>crash</key>
      <dict>
        <key>appKey</key>
        <string>e8c356aa-887e-46b8-bbc2-24f0ebbe1aed</string>
      </dict>
    </dict>
  </dict>
</plist>